<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">MY DATABASE</h1>
            <p>For one of my coding classes, I had to learn how to use Angular2 to hardcode a database. I love the idea of keeping track of all of the movies, books, television shows, and music I enjoy, so I'm slowly updating my database. Right now, I've only got a few movies listed. Hopefully, I'll be able to create a database to connect to in the future so that I don't have to hardcode every single item through HTML. This is a work-in-progress, and I'd like to add to the styling as well.</p>
        </div>
    </div>
</div>