<div class="container-fluid container_fill">
  <div class="row">
    <ul class="nav nav-pills">
      <li>
        <h3 class="db-title">REBECCA'S DATABASE</h3>
      </li>
      <li role="presentation">
        <a routerLink="/home">Home</a>
      </li>
      <li role="presentation">
        <a routerLink="/movies">Movies</a>
      </li>
      <li role="presentation">
        <a routerLink="/">TV Shows</a>
      </li>
      <li role="presentation">
        <a routerLink="/">Books</a>
      </li>
    </ul>
  </div>
</div>

<!-- routerLinkActive="active" -->