<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Rebecca's Movie List</h1>
      <div class="row">
        <input type="text" placeholder="Search List" class="filter-input form-control" [(ngModel)]="searchText">
      </div>
    </div>
  </div>
  <div>
    <ul>
      <li *ngFor="let movie of movies | searchBy: ['title']: [searchText]">
        <div class="col-sm-3 movie-list">
          <!-- <a[routerLink]="['/movie', movie.id]"> -->
            <h2>{{ movie.title }}</h2>
            <img src="{{ movie.thumbnail }}" alt="">
            <p>{{ movie.released_on }}</p>
            <p>{{ movie.description }}</p>
          <!-- </a> -->
        </div>
      </li>
    </ul>
  </div>
</div>